/* custom CSS styles */

.button {
	background-color: #5F2D8C;
	border-color: #462065;
	color: white;
}
.button:hover, .button:focus {
	background-color: #462065;
}

header h2 {
	/*font-family: Georgia, serif;*/
	font-style: italic;
	color: #CC0000;
	font-weight: bold;
	padding-top: .4em;
}
h1 { font-size: 2rem}
h1, h2, h3, h4, h5, h6 {
	color: #C00;
	font-weight: bold;
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;

}
h3 a {
	color: #CC0000;
	text-decoration: underline;

}
h3 a:hover {
	color: #CC0000;
}
/*classes*/

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}
.credit {
    font-size: 80%;
    font-style: italic;
}
/*.floatright {
    float:none;
    *//*padding-left:.5em;*//*
}

.floatleft {
    float:none;
    *//*padding-right:.5em;*//*
}*/
img.floatleft img.floatright {
	display: block;
	margin-left: auto;
	margin-right: auto }
.bold
{
    font-weight: bold;
}

/*<!-- gst additions -->*/
.segblock {
    min-height: 350px;
}
.more {
    display: none;
}
body {
	font-family: Verdana, Geneva, sans-serif;
}
/* chapter 3 styling challenge */
article {
	padding-bottom: 2em;
	font-family: "Times New Roman", Times, serif;
}
article .left {
	padding: 0 1em 1em 0;
}
article .right {
	padding: 0 0 1em 1em;
}
.topspace {
	padding-top: 3em;
}
.topspace p {
	font-size: 0.8em;
	color: #999;
	font-family: Georgia, serif;
	font-style: italic;
}
footer {
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
	font-family: Verdana, Geneva, sans-serif;
}
footer p {
	font-size: 0.8em;
}