<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap" >
            <nav class="tab-bar" data-topbar>
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                </section>
                <section class="center">
                    <a href="{{menuPath}}/{{menuYear}}/{{menuDate}}-btl.html">Full Site</a>
                </section>
            </nav>
            <aside id="menuTree" class="left-off-canvas-menu">

                <!-- unordered list of urls defined in menuTree template -->
            </aside>
            <a class="exit-off-canvas"></a>

        <!-- now starts the actual content -->
        <header class="row">
            <div class="large-1 columns">
                <h1>This Week on Between&nbsp;The&nbsp;Lines</h1>
            </div>
        </header>
        <article id="btlShow" class="row">
            <!-- the current show comes from weeklyShow template -->
        </article>
    </div>
    <!-- end inner wrap, must go after ALL content -->
</div>
