<div id="Content" class="large-11 large-offset-1 columns">
    <p class="credit">Posted July 2, 2014 for week ending July 11, 2014</p>
    <div class="segblock">
        <img class="floatleft" height="271" src="i/140711-lede.jpg" width="425" alt="lede" /><hr>
        <blockquote><h4>{{quote}}</h4></blockquote>
        <cite>{{citation}}</cite>
        <hr />
        <p>Listen to the entire program using these links, or to individual
            interviews via the links appearing prior to each segment description
            below.</p>
        <p class="credit">
            &nbsp;<a href="mp3/140711-btlv64.mp3">
            <img height="14" src="/images/MP3.png" alt="MP3" width="24" /> &nbsp;64 kb/s</a>
            &nbsp;<a href="/affiliates.html#BroadcastQualityMP3">
            <img height="11" src="/images/HQ.jpg" alt="HQ" width="24" /> &nbsp;broadcast quality</a>
            &nbsp;<a href="http://itunes.apple.com/podcast/between-the-lines-radio-newsmagazine/id387215195">
            <img height="18" src="/images/podcast.png" alt="podcast" width="18" /> &nbsp;Podcast</a>
        </p><hr/></div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3><a href="seg/140711af-btl-clarkson.html">Supreme Court Ruling Allows Up to 90 Percent of For-Profit Corporations to Impose Their Religious Beliefs on Their Employees</a></h3>

        <p class="italic">
            <a href="mp3/140711a-btl-clarkson.mp3">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a> Interview with Frederick Clarkson, a senior fellow with Political Research Associates, conducted by Scott Harris
        </p>
        <img class="floatleft" height="199" src="i/140711a-hobbylobby.jpg" width="300" alt="hobbylobby" />
        <p>In a landmark ruling in the Burwell v. Hobby Lobby Stores case, the U.S. Supreme Court handed down a decision on June 30 that allows the owners of some for-profit corporations to impose their religious beliefs on their employees when it comes to health care issues. The five justices of the court&#x2019;s conservative majority held that family-owned businesses can deny their female workers contraceptives as part of their employee health insurance plan, when the owners object to certain forms of birth control required under the federal Affordable Care Act.

            <a class="italic" href="seg/140711af-btl-clarkson.html">&nbsp;Story continues</a></p>
    </div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3><a href="seg/140711bf-btl-brown.html">Project Investigates Pennsylvania Health Problems to Determine Links with Natural Gas Fracking</a></h3>

        <p class="italic">
            <a href="mp3/140711b-btl-brown.mp3">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a> Interview with David Brown, director of Public Health Toxicology for Environmental and Human Health, Inc., conducted by Melinda Tuhus
        </p>
        <img class="floatright" height="169" src="i/140711b-fracking.jpg" width="300" alt="fracking" />
        <p>In what is likely the first such study of its kind in the U.S., a team of scientists and public health professionals has examined a group of residents of southwestern Pennsylvania to determine if the health problems they report are the result of living near the industrial practice of &#x22;hydraulic fracturing&#x22; or drilling of horizontal wells for natural gas, known as &#x22;fracking.&#x22; That&#x27;s the process that involves drilling deep underground into tight shale formations, injecting a million or more gallons of water, sand and a list of secret chemicals, to shatter the rock and release the gas.

            <a class="italic" href="seg/140711bf-btl-brown.html">&nbsp;Story continues</a></p>
    </div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3><a href="seg/140711cf-btl-lopez.html">One Year After Supreme Court Dismantles Voting Right Act, 22 States Have Adopted New Voting Restrictions</a></h3>

        <p class="italic">
            <a href="mp3/140711c-btl-lopez.mp3">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a> Interview with Tomas Lopez, counsel with the Brennan Center for Justice, conducted by Scott Harris
        </p>
        <img class="floatleft" height="229" src="i/140711c-voting.jpg" width="300" alt="voting" />
        <p>One year after the Supreme Court&#x2019;s controversial and narrow 5 to 4 ruling, which overturned a key section of the 1965 Voting Rights Act, nearly half the states across the country have imposed new obstacles to voting. These include restrictive voter ID laws, limited early voting hours and new requirements making voter registration more difficult. These election regulations ushered in by mostly Republican governors and legislatures since 2010, disproportionately affect the voting rights of minorities, young people, senior citizens and other voters viewed as likely to cast ballots for Democratic party candidates.

            <a class="italic" href="seg/140711cf-btl-lopez.html">&nbsp;Story continues</a></p>
    </div>

</div>